<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Sign Up Form</title>
</head>

<body>
    {{!-- Use of Partials --}}
    {{>navbar}}
    <div class="container">
        <form action="/signup" method="POST">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
    {{>scripts}}
</body>

</html>